<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Ballpark</title>
</head>
<body>

  <header>
    <nav>
      <ul>
        <h3 id="logo">Ball<span>Park</span></h3>

        <!-- If user is logged in nav displays links and logout button -->
        <% if logged_in? %>
          <input class="nav-search" type="text" placeholder="search">
          <li><a href="/">Home</a></li>
          <li><a href="/photos/new">Share a Photo</a></li>
          <li><a href="/videos/new">Share a Video</a></li>
          <li><a href="/user_profile/<%= current_user.id %>">My Account</a></li>
          <li class="logout">
            <form action="/session" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button>Log Out</button>
          </li>
          </form>

        <!-- If user not logged in, nav displays login form -->
        <% else%>
          <form action="/session" method="post">
            <input class="login-search" name="email" type="text" placeholder="Email">
            <input class="login-search" name="password" type="password" placeholder="Password">
            <button>Login</button>
          </form>
        <% end %>

      </ul>
    </nav>
  </header>


  <%= yield %>


</body>
</html>
