<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Ballpark</title>
</head>
<body>

  <header>
    <nav>
      <ul>
        <h3 id="logo">Ball<span>Park</span></h3>

        <% if logged_in? %>
          <input class="nav-search" type="text" placeholder="search">
          <li><a href="/">Home</a></li>
          <li><a href="/photos/new">Share a Photo</a></li>
          <li><a href="/videos/new">Share a Video</a></li>

        <% else%>

          <form action="/session" method="post">
            <input class="login-search" name="email" type="text" placeholder="Email">

            <input class="login-search" name="password" type="password" placeholder="Password">

            <button>Login</button>
          </form>

        <% end %>

      </ul>
    </nav>
  </header>

  <!-- session: <%= session[:user_id]%> -->

  <%= yield %>

  <% if logged_in? %>

    logged in as <%= current_user.username %>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button>Log Out</button>
    </form>

  <% else%>

    <p></p>

  <% end %>

</body>
</html>
