<form action="/session" method="post">
  <input name="email" type="text" placeholder="Email">

  <input name="password" type="password" placeholder="Password">

  <button>Login</button>
</form>

<h2>Discover sports from behind the scenes.</h2>
<input type="text" name="search" placeholder="Search for Basketball, Soccer, MMA etc">

<form action="/signup" method="post">
  <h2>Sign Up</h2>
  <input name="email" type="text" placeholder="Email">

  <input name="username" type="text" placeholder="Username">

  <input name="password" type="password" placeholder="Password">

  <button>Sign Up</button>
</form>
