<h2>Edit Profile</h2>

<h3><%= @user.username %></h3>

<div class="new-posts">
  <form action="/user_profile/<%= @user.id %>" method="post" enctype="multipart/form-data">
    <input name="email" type="text" value="<%=@user.email%>">

    <label for="">Insert Profile Picture</label>
    <input name="avatar" type="file">

    <button>Save</button>
  </form>
</div>
