<div class="videos-new-form">
  <div class="new-posts">
    <h2>New Video</h2>

    <form action="/videos" method="post" enctype="multipart/form-data">

      <input name="title" type="text" placeholder="Title">

      <select name="sport_id" type="text" value="">

        <!-- Iterates and displays all sports in dropdown -->
        <% @sports.each do |sport| %>
          <option value="<%= sport.id %>"><%= sport.name %></option>
        <% end %>
      </select>

      <textarea name="description" placeholder="Description"></textarea>
      <input name="video" type="file" placeholder="Video URL">
      <button>Create</button>
    </form>
  </div>
</div>
