@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

header {
  margin-bottom: 80px;
}

.index-posts {
  width: 50%;
  height: 50%;
  background-color: white;
  position: relative;
  left: 8%;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: .5px .5px .5px;
}

h2 {
  font-size: 1.5em;
  position: relative;
  left: 2%;
  text-align: left;
  margin: 0;
  padding: 0;
}

img {
  margin-top: 15px;
}

video {
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #008A20;
}

h4 {
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
  left: 2%;
  font-family: 'Roboto Slab', serif;
  border-bottom: 1px solid lightgrey;
  width: 95%;
}
