@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');

.login-container {
  width: 100%;
  height: 100%;
  background: url("http://www.sportsauthorityfieldatmilehigh.com/images/default-source/site-images/bg-body.jpg") no-repeat center center fixed;
  background-size: cover;
}

.nav-wrapper {
  width: 100%;
  background-color: #454C4F;
}

.nav-logo {
  width: 20%;
  display: inline-block;
}

.nav-search-wrapper {
  width: 75%;
  display: inline-block;
  text-align: right;
}

.nav-search-wrapper input, button {
  border: none;
}

.nav-search-wrapper button {
  border-radius: 5px;
  color: white;
  background-color: #008A20;
  width: 6em;
}

.home-search {
  color: white;
  text-align: center;
  display: block;
  margin: 10em auto;
}

.home-search h2 {
  font-size: 2.5em;
  font-family: 'Palanquin Dark', sans-serif;
  color: white;
}

.home-search input {
  padding: 15px;
  font-size: 1.2em;
  border-radius: 15px;
  width: 90%;
  border: none;
}

.sign-up {
  margin-top: 6em;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

.sign-up h2 {
  font-size: 2em;
  text-align: center;
  font-family: 'Palanquin Dark', sans-serif;
  margin-bottom: 20px;
  color: white;
}

.sign-up input {
  display: block;
  padding: 10px;
  font-size: .8em;
  border-radius: 8px;
  margin: 5px auto;
  width: 80%;
  border: none;
}

.sign-up button {
  display: block;
  padding: 10px;
  width: 10em;
  margin: 2em auto;
  background-color: #008A20;
  border: none;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .home-search {
    visibility: collapse;
  }
}

@media (max-width: 650px) {
  .login-container {
    background-image: url("http://4.bp.blogspot.com/-KZ8YCkUOjJU/Uq45U27h_VI/AAAAAAAAAOY/7vkL7-fDzqE/s1600/IMG_3751.jpg");
    overflow: hidden;
  }

  .sign-up {
    border: none;
    margin-top: 12em;
  }
  .sign-up input {
    width: 95%;
  }

  .sign-up button {
    width: 10em;
  }
}
