@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');

html {
  background-image: url("http://www.sportsauthorityfieldatmilehigh.com/images/default-source/site-images/bg-body.jpg");
  background-size: cover;
}

body {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.container {
  height: 30em;
}

.home-search {
  color: white;
  text-align: center;
  margin: 8em 0em 0em 3em;
}

.home-search h2 {
  font-size: 2.5em;
  font-family: 'Palanquin Dark', sans-serif;
}

.home-search input {
  padding: 15px;
  font-size: 1.2em;
  border-radius: 15px;
  width: 90%;
}

.sign-up {
  margin-top: 6em;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

.sign-up h2 {
  font-size: 2em;
  text-align: center;
  font-family: 'Palanquin Dark', sans-serif;
  margin-bottom: 20px;
}

.sign-up input {
  display: block;
  padding: 10px;
  font-size: .8em;
  border-radius: 8px;
  margin: 5px auto;
  width: 80%;
  border: none;
}

.sign-up button {
  display: block;
  padding: 10px;
  width: 10em;
  margin: 2em auto;
  background-color: #008A20;
  border: none;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .home-search {
    visibility: collapse;
  }
}

@media (max-width: 650px) {
  html {
    background-image: url("http://4.bp.blogspot.com/-KZ8YCkUOjJU/Uq45U27h_VI/AAAAAAAAAOY/7vkL7-fDzqE/s1600/IMG_3751.jpg");
    overflow: hidden;
  }

  .sign-up {
    border: none;
    margin-top: 12em;
  }
  .sign-up input {
    width: 95%;
  }

  .sign-up button {
    width: 10em;
  }
}
