@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.home-wrapper {
  width: 100%;
  height: 100vh;
}

.container {
  height: 100%;
}

#logo {
  font-size: 2em;
  font-family: 'Palanquin Dark', sans-serif;
  color: white;
  padding-left: 2em;
}

#logo a:hover {
  color: white;
  text-decoration: none;
}

#menu-btn {
  color: white;
}

.nav-search {
  padding: 6px;
  display: inline-block;
  border-radius: 10px;
  border: none;
  margin: 1em;
  width: 30%;
}

nav form {
  display: inline-block;
  margin: 15px;
}

.login {
  padding: 10px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 10px;
}

nav form button {
  display: inline-block;
  padding: 10px;
}

nav li {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  padding: 12px;
  font-family: 'Palanquin Dark', sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
}

.new-posts input, textarea {
  display: block;
}

.new-posts input, select, textarea   {
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}

video {
  margin-top: 15px;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  color: #333;
}

#dropdown-menu {
  position: absolute;
  right: 0;
  background-color: #454C4F;
  margin-right: .5em;
  width: 20%;
}

.responsive-menu {
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
}

.responsive-menu li {
  display: block;
  width: 100%;
  color: white;
  text-align: left;
}

.responsive-menu a {
  color: white;
  text-decoration: none;
}

.responsive-menu a:hover {
  color: #008A20;
}

.responsive-menu form {
  width: 100%;
}

.responsive-menu li button {
  display: block;
  width: 86%;
  padding: 15px;
}

.profile-edit-form, .photos-new-form, .videos-new-form, .photo-edit-form, .video-edit-form {
  width: 40%;
  display: block;
  margin: 5em auto;
}

.new-posts {
  width: 100%;
  text-align: center;
}

.new-posts h2 {
  width: 30%;
  font-size: 1.5em;
  margin: 2em auto;
  padding: 10px;
  border-bottom: 2px solid black;
}

.new-posts h3 {
  color: #333;
}

.new-posts input {
  width: 90%;
  border: 1px solid lightgrey;
}

.new-posts textarea {
  display: block;
  margin: .5em auto;
  width: 85%;
  border: 1px solid lightgrey;

}

.new-posts select {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.new-posts button {
  width: 70%;
  padding: 10px;
  border-radius: 2px;
  color: white;
  background-color: #008A20;
  margin: 1em;
}

@media (max-width: 1000px) {
  .nav-search {
    width: 60%;
  }
}
